<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Associated Domains for Universal Links -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:alaskapay.com</string>
		<string>applinks:www.alaskapay.com</string>
		<string>webcredentials:alaskapay.com</string>
		<string>activitycontinuation:alaskapay.com</string>
	</array>
	
	<!-- Keychain Sharing -->
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.alaskapay.app</string>
	</array>
	
	<!-- App Groups for Data Sharing -->
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.alaskapay.app</string>
	</array>
</dict>
</plist>
